
<div class="row text-center">
    <div>
        @(Html.Kendo().DropDownList()
              .Name("degrees")
              .HtmlAttributes(new { style = "width:300px" })
              .OptionLabel("Образователна степен...")
              .DataTextField("DegreeName")
              .DataValueField("DegreeId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeDegrees", "Courses");
                  });
              })
        )
    </div>
    <div>
        @(Html.Kendo().DropDownList()
              .Name("faculties")
              .HtmlAttributes(new { style = "width:300px" })
              .OptionLabel("Изберете факултет...")
              .DataTextField("FacultyName")
              .DataValueField("FacultyId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeFaculties", "Courses")
                          .Data("filterFaculties");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
                      .CascadeFrom("degrees")
        )
    </div>
    <div>
        @(Html.Kendo().DropDownList()
              .Name("programmes")
              .HtmlAttributes(new { style = "width:300px" })
              .OptionLabel("Изберете специалност...")
              .DataTextField("ProgrammeName")
              .DataValueField("ProgrammeId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeProgrammes", "Courses")
                          .Data("filterProgrammes");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
                      .CascadeFrom("faculties")
              .Events(e => e.Change("programmeChanged"))
        )
    </div>
</div>

@(Html.Kendo()
    .Grid<FindYourUniversity.Web.Areas.UniversityArea.ViewModels.CourseViewModel>()
        .Name("coursesGrid")
        
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Hidden();
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Semester);
        columns.Bound(p => p.Credits);
        columns.Bound(p => p.Hours);
        columns.Command(command => command.Destroy().Text("Изтриване")).Title("Изтриване").Width(110);
        columns.Command(command => command.Edit().Text("Промяна")).Title("Промяна").Width(100);
    })
    .ToolBar(toolBar =>
        {
            toolBar.Create().Text("Добавяне на курс");
        })
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Filterable()
    .Groupable()
    .Sortable()
    .Pageable()
    .AutoBind(false)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(p => p.Id);
            model.Field(p => p.Id).Editable(false);
        })
            .Read(read => read.Action("Read", "Courses").Data("selectedProgrammeId"))
            .Update(update => update.Action("Update", "Courses"))
            .Create(create => create.Action("Create", "Courses").Data("selectedProgrammeId"))
            .Destroy(destroy => destroy.Action("Destroy", "Courses"))
    ))

<script>
    function filterProgrammes() {
        return {
            faculties: $("#faculties").val(),
            degrees: $("#degrees").val()
        };
    };


    function filterFaculties() {
        return {
            degrees: $("#degrees").val()
        };
    }

    $(document).ready(function () {
        var degrees = $("#degrees").data("kendoDropDownList"),
            faculties = $("#faculties").data("kendoDropDownList"),
            programmes = $("#programmes").data("kendoDropDownList");
    });

    function programmeChanged() {
        var grid = $("#coursesGrid").data("kendoGrid");
        grid.dataSource.read();
    }

    function selectedProgrammeId() {
        var programmeId = {
            ProgId: $("#programmes").val()
        }
        return programmeId;
    }
</script>