@using FindYourUniversity.Web.Areas.UniversityArea.ViewModels;

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @(Html.Kendo()
    .Grid<FacultyViewModel>()
    .Name("grid")
    .Columns(col =>
    {
        col.Bound(u => u.Name).Title("Име");
        col.Bound(u => u.Id).Hidden();
        col.Bound(u => u.UniversityId).Hidden();
        col.Bound(u => u.CreatedOn).Hidden();
        col.Bound(u => u.ModifiedOn).Hidden();
        col.Command(command => command.Edit().Text("Промяна")).Title("Промяна").Width(100);
        col.Command(command => command.Destroy().Text("Изтриване")).Title("Изтриване").Width(120);
    })
    .Sortable()
    .Pageable()
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .ToolBar(command => command.Create().Text("Добавяне на факултет"))
    .DataSource(data => data.Ajax()
                        .Model(model => model.Id(u => u.Id))
                        .Read(read => read.Action("Read", "Faculties"))
                        .Create(create => create.Action("Create", "Faculties"))
                        .Update(update => update.Action("Update", "Faculties"))
                        .Destroy(destroy=>destroy.Action("Destroy", "Faculties")))
        )
    </div>
</div>
