@model IEnumerable<FindYourUniversity.Web.ViewModels.UniversitiesGroupedByFacultyViewModel>

@foreach (var group in Model)
{
    <h3>@group.FacultyName</h3>
    foreach (var university in group.Universities)
    {
        <div>
            @Html.ActionLink(university.Name, "Details", "Universities", new { Id = university.Id }, null)
        </div>
    }
}
