@model List<FindYourUniversity.Web.ViewModels.DocumentImageViewModel>

@{
    ViewBag.Title = "DocumentsUpload";
}



@Ajax.ActionLink("Добави документ",
    "GetUploadForm",
    "StudentProfile",
    new AjaxOptions()
    {
        InsertionMode = InsertionMode.InsertAfter,
        UpdateTargetId = "start"
    },
    new { @class = "btn btn-primary" })

<br />

@using (Html.BeginForm("Upload", "StudentProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span id="start"></span>

    <input type="submit" value="Upload" />
}